dspy-ai
dspy-ai[faiss-cpu]
langchain
deeplake 
openai
tiktoken
deeplake
langchain_community
langchain_core
google-api-python-client
langchain-google-community
huggingface_hub
ipywidgets
python-dotenv
googlesearch-python
transformers
bitsandbytes 
accelerate 
apify 
apify-client
ipykernel
groq